{% extends "base.html" %}

{%block content%}
<head>
  <title>Create User</title>
</head>
<body>
  <form action="/login" method ="get">
    <div class="logout-button" style="position: fixed; top: 50px; right: 50px;">
      <button>Log out</button>
    </div>
  </form>
  <form action="/go_home" method ="get">
    <div class="home-button" style="position: fixed; top: 50px; right: 150px;">
      <button>Home</button>
    </div>
  </form>
  <ul class="breadcrumb">
    <a href="http://fastapi-with-jinja2.onrender.com/USER?User=User">Back to Profile</a>&nbsp
    
     
   </ul>
  <h1>Give the Details</h1>
  
  <form action="/api/v1/users/create/" method="post">
    
    <div class="mb-3">
        <label>Fullname</label>
        <input type="text" name="fullname" placeholder="FullName" class="form-control"required/>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="text" name="email" placeholder="Email" class="form-control" required/>
    </div>
    <div class="mb-3">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username" class="form-control"required/>
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" class="form-control"required/>
    </div>
    <div class="mb-3">
        <label for="is_active">is_active</label><br>
        
        <input type="radio" name="is_active" value="True" checked>
        <label>True</label><br>
        
        <input type="radio" name="is_active" value="False">
        <label>False</label><br>
  
        
    </div>
    <div class="mb-3">
        <label for="admin">admin</label><br>
        <input type="radio" name="admin" value="True">
        <label>True</label><br>
        <input type="radio" name="admin" value="False" checked>
        <label>False</label><br>

        

        
    </div>
    
    <input type = "submit" value = "Create" class="btn btn-primary mb-1"/>
  </form>

  {% if error_msg %}
  <div class="alert alert-danger">
    {{ error_msg }}
  </div>
  {% endif %}
</body>

{% endblock content%}