{% extends "base.html" %}

{%block content%}
<head>
  <title>Create User</title>
</head>
<body>
  <h1>Give the Details</h1>
  
  <form action="/api/v1/users/create/" method="post">
    
    <div class="mb-3">
        <label>Fullname</label>
        <input type="text" name="fullname" placeholder="FullName" class="form-control"/>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="text" name="email" placeholder="Email" class="form-control"/>
    </div>
    <div class="mb-3">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username" class="form-control"/>
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="is_active">is_active</label><br>
        
        <input type="checkbox" name="is_active" value="True">
        <label>True</label><br>
        
        <input type="checkbox" name="is_active" value="False">
        <label>False</label><br>
  
        
    </div>
    <div class="mb-3">
        <label for="admin">admin</label><br>
        <input type="checkbox" name="admin" value="True">
        <label>True</label><br>
        <input type="checkbox" name="admin" value="False">
        <label>False</label><br>

        

        
    </div>
    
    <input type = "submit" value = "Submit" class="btn btn-primary mb-3"/>
  </form>
</body>

{% endblock content%}