{% extends 'base.html' %}
{% block content %}

<div class = "row">
    <div class ="col-12">
        
        <br><br>
        <table class= "table table-bordered table-striped">
            <thead>
                <tr>
                    <th>TaskName</th>
                    <th>Description</th>
                    <th> Duration</th>
                    <th>Status </th>
                    <th> id</th>
                    <th> owner_id</th>
                    
                </tr>

            </thead>
            <tbody>
                <tr>
                
                  
                    <td>{{users[0]}}</td>
                    <td>{{users[1]}}</td>
                    <td>{{users[2]}}</td>
                    <td>{{users[3]}}</td>
                    <td>{{users[4]}}</td>
                    <td>{{users[5]}}</td>
                  
                
                </tr>
            </tbody>
            
                        

        </table>
    </div>
</div>

{%endblock content%}