{% extends "base.html" %}

{%block content%}
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/api/v1/users/token/" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type = "submit" value = "Submit" class="btn btn-primary mb-3"/>
  
  </form>
  {% if error_msg %}
  <div class="alert alert-danger">
    {{ error_msg }}
  </div>
  {% endif %}

  
</body>

{% endblock content%}