{% extends "base.html" %}

{%block content%}
<head>
  <title>Users</title>
</head>
<body>
  <h1>My Details</h1>
  
  <form action="/api/v1/users/me/" method="get">
    <input type = "submit" value = "Submit" class="btn btn-primary mb-3"/>
  </form>

  <h1>Update My Details</h1>
  <form action="/userupdateme" method="get">
  
    <input type="submit" value="Submit" class="btn btn-primary mb-3"/>
  </form>
</body>
<h1>Get Todos</h1>
  
<form action="/api/v1/todos/id/" method="get">
  <input type="number" name="id" placeholder="id">
  <input type = "submit" value = "Submit" class="btn btn-primary mb-3"/>
</form>
<h1>Create My Todos</h1>
<form action="/todocreate" method="get">
  <input type="submit" value="Submit" class="btn btn-primary mb-3"/>
</form>
<h1>Update My Todos</h1>
<form action="/update_my_todo" method="get">
  
  <input type="submit" value="Submit" class="btn btn-primary mb-3"/>
</form>
<h1>Delete My Todos</h1>
<form action="/tododelete" method="get">
  
  <input type="submit" value="Submit" class="btn btn-primary mb-3"/>
</form>

{% endblock content%}