{% extends "base.html" %}

{%block content%}
<form action="/login" method ="get">
  <div class="logout-button" style="position: fixed; top: 50px; right: 50px;">
    <button>Log out</button>
  </div>
</form>
<form action="/go_home" method ="get">
  <div class="home-button" style="position: fixed; top: 50px; right: 150px;">
    <button>Home</button>
  </div>
</form>
<ul class="breadcrumb">
  <a href="/go_home">Back to Home</a>&nbsp
  
   
 </ul>
<body>
  

  <div class="row">
    <div class="col-4">
      <h1 style="font-size: 2rem; " >Users</h1>
      <form action="/api/v1/users/username/" method="get">
        <input type="text" name="username" placeholder="Username">
        <input type = "submit" value = "Submit" class="btn btn-primary btn-grey mb-1"/>
      </form>
    </div>
    <div class="col-4">
      <h1 style="font-size: 2rem;">My Details</h1>
      <form action="/api/v1/users/me/" method="get">
        <input type = "submit" value = "Submit" class="btn btn-primary mb-1"/>
      </form>
    </div>
  

 
    <div class="col-4">
      <h1 style="font-size: 2rem;">Create Users</h1>
      <form action="/usercreate" method="get">
        <input type="submit" value="Submit" class="btn btn-primary mb-1"/>
      </form>
    </div>
  </div>
  <br><div class="row">
    <div class="col-4">
      <h1 style="font-size: 2rem;">Update Users</h1>
      <form action="/userupdate" method="get">
        <input type="number" name="id" placeholder="id" required/>
        <input type="submit" value="Submit" class="btn btn-primary mb-1"/>
      </form>
    </div>
  

  
    <div class="col-4">
      <h1 style="font-size: 2rem;">Delete Users</h1>
      <form action="/userdelete" method="get">
        <input type="number" name="id" placeholder="id" required/>
        <input type="submit" value="Submit" class="btn btn-primary mb-1"/>
      </form>
    </div>
    <div class="col-4">
      <h1 style="font-size: 2rem;">Update My Details</h1>
      <form action="/userupdateme" method="get">
        <input type="submit" value="Submit" class="btn btn-primary mb-1"/>
      </form>
    </div>
  </div></br>

  

  {% if error_msg %}
    <div class="alert alert-danger">
      {{ error_msg }}
    </div>
  {% endif %}

</body>

{% endblock content%}
